body {
    font-family: 'Rubik', sans-serif;
}

th, td {
    padding: 15px;
}

table {
    margin-top: 20px;
}

#countArea {
    margin-top: 20px;
}

#manualAddPanel {
    display: none;
    float:left;
    position: absolute;
    left: 50%;
    text-align: right;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}